@import "tailwindcss";


:root {
  background-color: #1c1c1d;
}

html, body {
  background-color: #1c1c1d;
  color: white;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100vh;
  background-color: #1c1c1d;
}